.popup {
    position: fixed;
    top: 0;
    left: calc(50% - 110px);
    align-self: center;
    width: 220px;
    box-shadow: 0 5px 10px #2c242243;
    justify-content: space-between;
    padding: 0 12px;
}

.popup__text {
    border: none;
}

.popup__close-button {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    min-height: 60px;
    min-width: 33%;
}

div:nth-child(6) {
    width: 66%;
}

.first-block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    border: 1px solid black;
    order: -2;
}

.first-div {
    width: 33%;
    background-color: rgb(224, 180, 67);
}

.second-div {
    width: 33%;
    background-color: rgb(209, 97, 8);
    border: 1px dotted black;
}

.third-div {
    width: 33%;
    background-color: rgb(89, 55, 11);
}

.hidden {
    display: none;
}

.higher-order {
    order: -1;
}

@media screen and (max-width: 600px) {
    .page {
        flex-direction: column;
    }

    .first-div {
        width: 100%;
    }

    .second-div {
        width: 100%;
    }

    .third-div {
        width: 100%;
    }

    div:nth-child(6) {
        width: 100%;
    }
}