.page {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(3, 150px);
    row-gap: 7%;
    column-gap: 2%;
    align-self: center;
    margin: 75px auto 35px;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .page {
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 75px auto 50px;

    }
}